@model IEnumerable<Avaleble>

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<h2>Studentene har ledig tid</h2>

<ul>

  @foreach (var avaleble in Model)
  {
    <li>@avaleble.Date</li>
  }

</ul>

<p><a asp-controller="Avaleble" asp-action="Add">Tidspunkt du er ledig på</a></p>